.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  background-color: #000;
  border-bottom: 1px solid var(--color-border);
  /* color: white; */
}

.headerLink {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.headerLink:hover {
  color: #ddd;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  font-size: 20px;
}

/* Links nav */
.navLink {
  /* border: 1px solid #242323; */
  background-color: #171717;
  font-size: 18px;

  border-radius: 14px;
  padding: 6px 16px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #3a3a3a;
    color: #fff;
  }
}

.navigationItem {
  display: flex;
  align-items: center;
}

.navigationLink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navigationLink:hover {
  color: #ddd;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
}
