.menuList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menuItem {
  width: 100%;
}

.menuLink {
  text-decoration: none;
  color: white;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;

  padding: 10px 16px;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
  background-color: #303030;
}

.menuLink:hover {
  background-color: #444;
  transform: scale(1.02);
}

.menuLink span {
  flex-grow: 1;
  text-align: left;
  margin-left: 12px;
}
