/* components/Footer.module.css */

.footer {
  padding: 30px;
  background-color: #000000;
  text-align: center;
  font-size: 14px;
  color: #a5a5a5;
  border-top: 0.5px solid var(--color-border);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer a {
  color: #c0c522;
  font-weight: 600;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.github {
  margin-left: 5px;
}

.p {
  margin: 0;
}

.nameD {
  font-weight: 700;
  color: #c0c522;
}
