/* components/Footer.module.css */

.footer {
  padding: 14px;
  background-color: #000000;
  text-align: center;
  font-size: 14px;
  color: #a5a5a5;
  border-top: 0.5px solid var(--color-border);
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer a {
  color: #226ec5;
  font-weight: 600;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
